.about {
    background-image: url(/assets/img/bg/image\ 1.svg);
    height: 1080px;
    @include krpc {
        height: 768px;
    }
    display: flex;
    justify-content: center;
    
    &__wrapper {
        
        @include lg {
            transform: scale(0.8);
        }
        @include sm {
            display: grid;
            
        }
        @include kr2 {
            display: grid;
            text-align: center;
        }
        padding-left: 96px;
        padding-right: 96px;
        padding-top: 109px;
        padding-bottom: 109px;
        display: flex;

        gap: 106px;
        @include krpc {
            gap: 20px;
        }
        &-image {
            @include krpc {
                width: 400px;
                height: 500px;
            }
            @include kr2 {
                display: none;
            }

        }
        &-mimage {
            display: none;
            @include kr2 {
                display: block;
                width: 400px;
                height: 400px;
                padding-left: 90px;
            }
        }
        .atext {




            &-title {
                font-weight: 800;
                font-size: 96px;
                line-height: 116px;
                margin: 0;
                @include krpc {
                    font-size: 64px;
                }

            }
            &-subtitle {
                
                @include krpc {
                    font-size:20px;
                    line-height: 20px;
                    width: 500px;
                }
                @include kr2 {
                    font-size: 15px;
                    padding-right: 90px;
                    justify-content: center;
                    padding-left: 90px;
                }
                font-weight: 400;
                font-size: 33px;
                line-height: 40px;
                width: 758px;
                &-selection {
                    font-weight: 400;
                    font-size: 40px;
                    line-height: 48px;
                    @include krpc {
                        font-size: 22px;
                        line-height: 22px;
                        font-weight: 500;
                        
                    }
                }
            }



        }




    }
}


