.contacts {
    height: 1080px;
    @include krpc {
        height: auto;
        
    }
    @include mdpc {
        height: auto;
    }
    &__wrapper {
        @include mdpc {
            transform: scale(0.7);
            margin: 0;
            padding: 0;
        }
        padding-top: 88px;
        padding-bottom: 88px;
        display: flex;
        justify-content: center;
        @include krpc {
            gap: 0;
            padding: 0;
            display: none;
        }
        .info {
            @include krpc {
                transform: scale(0.8);
                padding-left: 70px;
            }
            &__title {
                font-weight: 800;
                font-size: 96px;
                line-height: 116px;
                margin: 0;
                @include krpc {
                    font-size: 48px;
                }
            }
            &__subtitle {
                font-weight: 400;
                font-size: 40px;
                line-height: 73px;
                width: 783px;
                @include krpc {
                    font-size: 24px;
                    line-height: 26px;
                }
            }
            &__request {
                padding-top: 180px;
                &-text {
                    width: 511px;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 99%;
                    margin: 0;
                    padding-bottom: 25px;
                    @include krpc {
                        font-size: 18px;
                    }
                }
                &-button {
                    width: 511px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 40px;
                    line-height: 39px;
                    color: white;
                    &:hover {
                        transition: ease-in-out 0.1s;
                        background-color: #bc6e00;
                    }
                }
    
            }
        }
        
        .cmaps {
            border-radius: 62px;
            @include krpc {
                width: 400px;
                height: 400px;
                position: relative;
                transform: translate(-70px, 50px);
            }
        }
    }
}



.mcontacts__wrapper {
    display: none;
    @include krpc {
        display: grid;
    }
    @include kr2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    justify-content: center;
    .minfo {
        @include kr2 {
            align-items: center;
        }
        &__title {
            text-align: center;
            font-weight: 800;
            font-size: 96px;
            line-height: 116px;
            margin: 0;
            @include lg {
                font-size: 64px;
            }
            @include kr2 {
                font-size: 48px;
                align-items: center;
                text-align: center;
            }
        }
        &__subtitle {
            text-align: center;
            font-weight: 400;
            font-size: 40px;
            line-height: 73px;
            width: 783px;
            @include lg {
                font-size: 32px;
            }
            @include kr2 {
                font-size: 13px;
                line-height: 22px;
                
                height: auto;
                text-align: center;
                align-items: center;
                justify-content: center;
            }
        }
        &__cmaps {
            text-align: center;

            &-maps {
                width: 600px;
                height: 600px;
                border-radius: 25px;
                @include kr2 {
                    width: 300px;
                    height: 300px;
                }
            }
        }
        &__request {
            padding-top: 30px;
            padding-bottom: 100px;
            display: grid;
            justify-content: center;
            &-text {
                width: 511px;
                font-weight: 500;
                font-size: 32px;
                line-height: 99%;
                margin: 0;
                padding-bottom: 25px;
                text-align: center;
                @include kr2 {
                    font-size: 20px;
                    width: 300px;
                }
            }
            &-button {
                font-weight: 500;
                font-size: 32px;
                line-height: 99%;
                margin: 0;
                padding-bottom: 25px;
                text-align: center;
                color: white;
                justify-content: center;
                &:hover {
                    transition: ease-in-out 0.1s;
                    background-color: #bc6e00;
                }
            }
        }


    }

}



