.feedback {
    height: 1080px;
    @include krpc {
        height: auto;
    }
    &__wrapper {
        width: 100%;
        @include kr2 {
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        &-text {
            text-align: center;
            font-weight: 800;
            font-size: 96px;
            line-height: 116px;
            margin: 0;
            @include kr2 {
                font-size: 64px;
            }

        }
        
        .fcards {
            @include krpc {
                transform: scale(0.65);
                padding-top: 0;
                position: relative;
                top: -50px;
            }
            @include lg {
                transform: scale(0.5);
            }
            @include sm {
                display: grid;
                transform: none;
                top: 0;
                
            }
            @include kr2 {
                transform: none;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                justify-content: center;
            }
            padding-top: 70px;
            display: flex;
            gap: 106px;
            justify-content: center;
            &__fcard {
                @include sm {
                    padding-top: 50px;
                }
                @include kr2 {
                    align-items: center;
                    justify-content: center;
                    
                }
                text-align: center;
                &-name {
                    font-weight: 800;
                    font-size: 36px;
                    line-height: 44px;
                    text-align: center;
                    margin: 0;
                }
                &-comment{
                    margin: 0;
                    background-color: #000C47;
                    border-radius: 66px;
                    height: 459px;
                    width: 397px;
                    padding: 43px;
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 36px;
                    @include sm {
                        font-size: 20px;
                        line-height: 22px;
                        height: auto;
                        width: 300px;
                    }
                    @include kr2 {
                        height: 100%;
                        margin: 0;
                        
                        align-items: center;
                        justify-content: center;
                    }
                }


            }


        }

    }


}
