.feedback {
    height: 1080px;
    @include krpc {
        height: auto;
    }
    &__wrapper {

        &-text {
            text-align: center;
            font-weight: 800;
            font-size: 96px;
            line-height: 116px;
            margin: 0;

        }
        
        .fcards {
            @include krpc {
                transform: scale(0.65);
                padding-top: 0;
                position: relative;
                top: -50px;
            }
            padding-top: 70px;
            display: flex;
            gap: 106px;
            justify-content: center;
            &__fcard {
                text-align: center;
                &-name {
                    font-weight: 800;
                    font-size: 36px;
                    line-height: 44px;
                    text-align: center;
                    margin: 0;
                }
                &-comment{
                    margin: 0;
                    background-color: #000C47;
                    border-radius: 66px;
                    height: 459px;
                    width: 397px;
                    padding: 43px;
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 36px;
                    
                }


            }


        }

    }


}
