.general {
    background-image: url(/assets/img/bg/image.svg);
    height: 1080px;
    
    @include krpc {
        height: 600px;
        background-size: 120%;

    }
    @include mdpc {
        height: auto;
        padding-bottom: 100px;
        background-position-y: -130px;
    }
    @include lg {
        background-position-y: -300px;
        background-position-x: -600px;
    }
    @include kr2 {
        background-size: 500%;
        background-position-x: 930px;
        background-position-y: 10px;
    }
    background-size: 100%;

    &__wrapper {
        width: 1080px;
        margin-left: 92px;
        &-title {
            padding-top: 235px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 800;
            font-size: 64px;
            line-height: 77px;
            width: 1199px;
            margin: 0;
            @include krpc {
                font-size: 38px;
                line-height: 45px;
                width: 680px;
                padding-top: 120px;
            }
            @include mdpc {
                font-size: 38px;
                line-height: 45px;
                width: 780px;
            }
            @include lg {
                width: 600px;
                line-height: 38px;
            }
            @include sm {
                width: 200px;
                line-height: 30px;
                font-size: 30px;
                text-align: center;
            }
        }
        &-button {
            width: 511px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 800;
            font-size: 32px;
            line-height: 39px;
            color: white;
            margin-top: 162px;
            @include krpc {
                margin-top: 100px;
            }
            @include mdpc {
                margin-top: 50px;
            }
            @include sm {
                width: 200px;
                font-size: 15px;
                padding: 10px;
            }
            &:hover {
                transition: ease-in-out 0.1s;
                background-color: #8C5200;
            }

        }
    }
}