.news {
    height:289px;
    @include sm {
        height: auto;
        
    }
    &__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    margin: 0;
    @include sm {
        padding-top: 20px;
    }
    }
    &__wrapper {
        display: flex;
        justify-content: center;
        gap: 91px;
        @include krpc {
            gap: 15px;
        }
        @include lg {
            transform: scale(0.8);
        }
        @include sm {
            transform: none;
            display: grid;
            padding-top: 50px;
            
        }
        .ncard {

            &__date {
                @include krpc {
                    
                }
                font-weight: 500;
                font-size: 13px;
                line-height: 16px;
            }
            &__text {
                @include krpc {
                    width: 220px;
                }
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                width: 331px;
            }
        }

    }
}




