.schedule {
    padding-bottom: 150px;
    &__wrapper {
        @include lg {
            transform: scale(0.8);
        }
        @include sm {
            transform: none;

        }
        &-title {
            font-weight: 800;
            font-size: 64px;
            line-height: 77px;
            text-align: center;
            margin: 0;
            @include sm {
                font-size: 32px;
            }
        }

        .table {
            display: grid;
            justify-content: center;
            gap: 20px;
            @include sm {
                gap: 10px;

            }
            
            &__first {
                display: flex;
                gap: 190px;
                @include krpc {
                    gap: 100px;
                }
                @include sm {
                    gap: 15px;
                    font-size: 10px;
                    padding-right: 100px;


                }
            }

            &__second {
                display: flex;
                gap: 170px;
                @include krpc {
                    gap: 80px;
                }
                @include sm {
                    gap: 10px;
                    font-size: 8px;
                    justify-content: center;

                }
                &-button {
                    font-weight: 800;
                    font-size: 12px;
                    line-height: 15px;
                    width: 175px;
                    font-family: 'Inter';
                    font-style: normal;
                    color: white;
                    font-size: 12px;

                    &:hover {
                        transition: ease-in-out 0.1s;
                        background-color: #bc6e00;
                    }

                    @include sm {
                        width: 100px;
                        font-size: 8px;
                        padding: 5px;
                    }
                }
            }
        }
    }
}


/* Расписание Рейсов */

/* Забронировать билет */

