.service {
    height: 1080px;
    @include krpc {
        height: auto;
        padding-bottom: 40px;
        background-image:none;
    }
    &__wrapper {
        @include mdpc {
            transform: scale(0.8);
        }
        &-title {
            padding-top: 62px;
            margin: 0;
            font-weight: 800;
            font-size: 64px;
            line-height: 77px;
            text-align: center;
            @include krpc {
                padding-top: 34px;
            }
        }
        .scards{
            display: flex;
            justify-content: center;
            gap: 120px;
            @include krpc {
                display: grid;
                gap: 5px;
            }
            &__card {
                @include krpc {
                    display: grid;
                    
                }
                padding-top: 75px;
                &-title {
                    text-align: center;
                    margin: 0;
                    font-weight: 900;
                    font-size: 40px;
                    line-height: 48px;
                    padding-bottom: 4px;
                }
                &-image {
                    border-radius: 86px;
                }
                &-subtitle {
                    @include krpc {
                        margin: 0;
                        padding: 0;
                    }
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 34px;
                    text-align: center;
                    width: 460px;
                }


            }

        }
    }

}